<div class="home">
    <div class="jumbotron">
    <h2>I Want That</h2>
    <br>
    <p>Search stores for products that you want and add your friends to see what they want</p>
    <div class="center">
        <br>
         <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-danger' %>
    </div>
</div>

<div class="center downarrow scrollindicator">
    <a href="#search"><%= image_tag('arrow_down.png'); %></a>
</div>
</div>


          <div class="center" id="search">
              <br>
              <br>
        <h1 class="title">Search for what you want</h1>
              <br>
              <br>
         </div>

    <div class="col-md-6 search-list">
        <ul>
            <br>
            <li>Pick a store and see the products that they sell</li>
            <br>

            <li>Find what you like and add it to your want list</li>
            <br>

            <li>See what your friends want and make your shopping easier</li>
            <br>

            <li>Find out how expensive your tastes are compared to your friends</li>
            <br>

            <li>Click on the items to go straight to the store to purchase the item</li>
        </ul>
    </div>

    <div class="col-md-6 image">
    </div>

<div class=" col-xs-12 container2" id="profiles">
    <div class="center jumbotron">


        <h1 class="title2">Unique profile pages</h1>
              <br>
              <br>

        <ul>
            <li>Keep all of your favorite products in one easy location</li>
            <br>
            <li>View your friends profiles to see their style and "wants" ... we all know they are needs</li>
            <br>
            <li>Shopping for your friends has never been easier, just a few clicks and you know exactly what will make you their #1!</li>
        </ul>
         </div>

</div>








