

       <div class="jumbotron">
            <h2>I Want That</h2>

           <p>Search stores for products that you want and add your friends to see what they want</p>

           <div class="center">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-danger' %>
           </div>
        </div>
        <div class="center downarrow scrollindicator">
            <%= image_tag('arrow_down.png'); %>
        </div>



