/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
 font-family: Verdana, Geneva, sans-serif;
}

.navbar-image{
    margin-top:-5px;
    width:30px;
    border-radius: 3px;
    float:left;
    margin-right:0px;
}
.navbar-default {
    background-color:rgba(255,255,255,1);
    color:#000;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;

}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    font-size: 30px;
    color:#000;
}


.authform {
  padding:15px;
  max-width: 520px;
  margin: 50px auto;
    color:black;
    background-color:rgba(255,255,255,.9);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 13px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 13px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 13px 0px rgba(50, 50, 50, 0.75);
}
.authform h1{
 text-align: center;
    color:black;
}
.authform p{
    color:grey;
    text-align: center;
}
.authform form {
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}

#error_explanation h2 {
  font-size: 16px;
}

.navbar-right{
    margin-left:-20px;
    text-align: left;
}

.navbar-left{
    margin-right:0px;
    text-align: left;
}
.well{
    background-color: white;
    border-radius: 5px;
}

.navbar-toggle .collapsed{
    background-color:white;
}


